<h2>Dodaj Wydarzenia</h2>


@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}
<form method="post">
    @* <textarea name="nazwa1"></textarea><br />
    <textarea name="adres1"></textarea><br />
    <input type="date" name="data1" /><br /> *@
    <input type="text" name="nazwa1" placeholder="Nazwa wydarzenia" /><br />
    <input type="text" name="adres1" placeholder="Adres" /><br />
    <input type="date" name="data1" /><br />

    <button type="submit">Zapisz</button>
</form>