<h2>Dodaj Zadanie</h2>


@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}
<form method="post">
    @* <textarea name="nazwa1"></textarea><br />
    <textarea name="adres1"></textarea><br />
    <input type="date" name="data1" /><br /> *@

    @* <input type="text" name="nazwa1" placeholder="Zadanie" asp-asp-for="Nazwa"/><br />
    <input type="date" name="data1" placeholder="Termin" asp-asp-for="Termin"/><br />
    <input type="number" step="1" name="liczba1" placeholder="Id pracownika" asp-asp-for="IdPracownika"/><br /> *@

    <input type="text" name="nazwa1" placeholder="Zadanie"/><br />
    <input type="date" name="data1" placeholder="Termin"/><br />
    <input type="number" step="1" name="liczba1" placeholder="Id pracownika"/><br />

    <button type="submit">Zapisz</button>
</form>